* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-green: #a9d18e;
    --dark-green: #313f2c;
    --darker-green: #003200;
    --darkest-green: #002800;
    --grey-green: #828e84;
    --dove: #2c9a43;
    --butterfly: #669f49;
    --shadow: #495f44;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--butterfly);
    background-color: var(--dark-green);
}

.green-back {
    background-color: var(--dark-green);
}

nav {
    background-color: var(--light-green);
}

.container-margin {
    margin-top: 150px;
}

.me-img {
    width: 300px;
}

.img-2{
    width: 225px;
}

.border-green {
    border-color: var(--dark-green);
}

/* text css*/
.text-dark-green {
    color: var(--darker-green)
}

.text-darkest {
    color: var(--darkest-green);
}
.text-grey {
    color: var(--grey-green)
}

.text-article {
    color: var(--light-green);
}

.text-shadow {
   text-shadow: 2px 2px 1px var(--darkest-green);
}

.name {
    color: var(--butterfly);
}

a {
    color: #FFFFFF;
        text-decoration: none;
    }   